name: Deploy

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    if: github.repository == 'argoproj/argo-workflows'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - uses: actions/setup-go@v5
        with:
          go-version: '1.18'
      - run: pip install mkdocs==1.2.4 mkdocs_material==8.1.9
      - run: mkdocs build
      - run: make parse-examples
      - uses: peaceiris/actions-gh-pages@v4.0.0
        env:
          PERSONAL_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./site
